{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <h5>Category: {{ category.name}}</h5>
    
    <form action="{% url 'category_page' %}" method="POST" class="my-3">
        {% csrf_token %}
        <div class="mb-3">
        <label for="category" class="form-label"></label>
        <select class="form-select" id="category" name="category" aria-label="category names">
          <option value="" selected disabled>Select a category</option>
        {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
        </select>
        <button type="submit" class="btn btn-warning">Select</button>
      </div>
    </form>

    <div class="row mx-10">
    {% for listing in listings %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ listing.image_url }}" alt="{{ listing.title }}">
            <div class="card-body">
                <a href="#"><h5 class="card-title">{{ listing.title }}</h5></a>
                <p class="card-text"> {{ listing.start_bid}}</p>
            </div>
        </div>
    {% endfor %}
   </div> 
{% endblock %}